#bloc-1:hover {
  text-decoration: underline;
  text-decoration-color: #782221;
}

#bloc-2:hover {
  text-decoration: underline;
  text-decoration-color: #782221;
}

#bloc-3:hover {
  text-decoration: underline;
  text-decoration-color: #782221;
}

img:hover {
  opacity: 0.4;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.picture__identite:hover {
  cursor: zoom-in;
  opacity: initial;
}
