@import url("background.css");

@import url("effets-graphiques.css");

#bloc,
.profit,
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  font-family: "Lato", serif;
}

main,
nav,
header {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", serif;
}

body {
  width: 70%;
  max-width: 1160px;
  margin: 0 auto;
}

.picture {
  height: 9em;
  width: 9em;
  display: flex;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 21px;
}

h1 {
  align-self: end;
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin: revert;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.4em;
}

main {
  display: flex;
}

.profit {
  display: flex;
  flex-direction: column;
  padding-left: 0em;
}

.profit__title {
  text-indent: 1rem;
  margin-right: 1em;
}

div {
  margin-right: 2em;
  padding-left: 1em;
}

#bloc {
  display: flex;
  flex-flow: column wrap;
  margin-left: 1em;
}

#bloc-1 {
  text-indent: 1rem;
}

#bloc-2 {
    text-indent: 1rem;
}

#bloc-3 {
    text-indent: 1rem;
}

img {
  height: 2em;
  margin: 0.4em;
}

figure {
  display: flex;
  justify-content: center;
  margin: 0;
}

.view {
  margin: 0;
  display: flex;
  justify-content: center;
}
